
<div class="home d-flex justify-content-center align-items-center ">
    <div class="container d-flex justify-content-center  p-5 m-5">
  
  <div class="my-card  py-5">
  
      <div class="text m-2 text-center ">ABOUT COMPONENT</div>
      <app-wstar></app-wstar>
     <div class="row">
        <div class="col-md-6">
            <p class="stext">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-6">
            <p class="stext">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
     </div>
  
  </div>
  
    </div>
   </div>
