

<div class="contact d-flex justify-content-center align-items-center pb-5 mb-5">
    <div class="container p-5 mb-5 ">
        <h1 class="text-center pt-4 pb-2 pt-5 mt-5 mb-2 my-con">CONTACT SECTION</h1>
<app-star></app-star>
          <form  class=" w-75  mx-auto pb-5"  >
           
            <input type="text" class="my-input form-control border-0 border-bottom  m-5 "placeholder="user name">

            <input type="text" class="my-input form-control border-0 border-bottom  m-5 "placeholder="user age">
            <input type="email" class="my-input form-control border-0 border-bottom  m-5 "placeholder="user email">
            <input type="password" class="my-input form-control border-0 border-bottom  mx-5 mb-4 "placeholder="user password">
<button class="rounded border-0 p-2 mx-5 mb-5   my-btn">send message</button>
          </form> 
            </div>
   </div>
  
